#session
  = image_tag('logo_light.svg')
  .panel
    .panel-header
      %h2 Register
    .panel-body
      = devise_error_messages!
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .field
          = f.text_field :username, autofocus: true, placeholder: 'Username'
        .field
          = f.email_field :email, placeholder: 'Email address'
        .field
          = f.password_field :password, autocomplete: "off", placeholder: 'Password'
        .field
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirmation'
        .actions
          = f.submit "Sign up"
    = render "devise/shared/links"
