%p#notice= notice
%h1 Financial Movements
%table
  %thead
    %tr
      %th Amount
      %th Description
      %th{:colspan => "3"}
  %tbody
    - @financial_movements.each do |financial_movement|
      %tr
        %td= financial_movement.amount
        %td= financial_movement.description
        %td= link_to 'Show', financial_movement
        %td= link_to 'Edit', edit_admin_financial_movement_path(financial_movement)
        %td= link_to 'Destroy', financial_movement, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Financial Movement', new_admin_financial_movement_path
