%p#notice= notice
%p
  %strong Amount:
  = @financial_movement.amount
%p
  %strong Description:
  = @financial_movement.description
= link_to 'Edit', edit_admin_financial_movement_path(@financial_movement)
|
= link_to 'Back', admin_financial_movements_path
