<%= form_for(desk_user_membership) do |f| %>
  <% if desk_user_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(desk_user_membership.errors.count, "error") %> prohibited this desk_user_membership from being saved:</h2>

      <ul>
      <% desk_user_membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desk_id_id %>
    <%= f.text_field :desk_id_id %>
  </div>

  <div class="field">
    <%= f.label :user_id_id %>
    <%= f.text_field :user_id_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
