<p id="notice"><%= notice %></p>

<h1>Desk User Memberships</h1>

<table>
  <thead>
    <tr>
      <th>Desk</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @desk_user_memberships.each do |desk_user_membership| %>
      <tr>
        <td><%= desk_user_membership.desk_id %></td>
        <td><%= desk_user_membership.user_id %></td>
        <td><%= link_to 'Show', desk_user_membership %></td>
        <td><%= link_to 'Edit', edit_desk_user_membership_path(desk_user_membership) %></td>
        <td><%= link_to 'Destroy', desk_user_membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Desk User Membership', new_desk_user_membership_path %>
