<p id="notice"><%= notice %></p>

<p>
  <strong>Desk:</strong>
  <%= @desk_user_membership.desk_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @desk_user_membership.user_id %>
</p>

<%= link_to 'Edit', edit_desk_user_membership_path(@desk_user_membership) %> |
<%= link_to 'Back', desk_user_memberships_path %>
