%p#notice= notice
%h1 Jury Challenge Memberships
%table
  %thead
    %tr
      %th User
      %th Challenge
      %th{:colspan => "3"}
  %tbody
    - @jury_challenge_memberships.each do |jury_challenge_membership|
      %tr
        %td= jury_challenge_membership.user_id
        %td= jury_challenge_membership.challenge_id
        %td= link_to 'Show', jury_challenge_membership
        %td= link_to 'Edit', edit_admin_jury_challenge_membership_path(jury_challenge_membership)
        %td= link_to 'Destroy', jury_challenge_membership, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Jury Challenge Membership', new_admin_jury_challenge_membership_path
