%p#notice= notice
%p
  %strong User:
  = @jury_challenge_membership.user_id
%p
  %strong Challenge:
  = @jury_challenge_membership.challenge_id
= link_to 'Edit', edit_admin_jury_challenge_membership_path(@jury_challenge_membership)
|
= link_to 'Back', admin_jury_challenge_memberships_path
