- if devise_mapping.omniauthable?
  .omniauth-buttons
    - resource_class.omniauth_providers.each do |provider|
      = link_to  omniauth_authorize_path(resource_name, provider), class: "omniauth-button #{provider}" do
        - case provider
          - when :github
            %i{class: 'mdi mdi-github-circle'}
          - when :google_oauth2
            %i{class: 'mdi mdi-google'}
          - else
            %i{class: "mdi mdi-#{provider}"}
.devise-links
  - if controller_name != 'sessions'
    = link_to t('views.signup.signin'), new_session_path(resource_name)
    %br/
  - if devise_mapping.registerable? && controller_name != 'registrations'
    = link_to t('views.signin.signup'), new_registration_path(resource_name)
-#- if devise_mapping.confirmable? && controller_name != 'confirmations'
-#  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
-#  %br/
-#- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
-#  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
-#  %br/

