- content_for :navigation do
  Mon profil
- content_for :page_title do
  Mon profil - Let's Dev !
#me
  .columns
    = render partial: 'shared/manager/me/side_navigation'
    .column.container
      %h2
        Mettre à jour mon mot de passe
      = form_for @user, url: {action: :update_password} do |f|
        .columns
          .column
            = f.password_field :current_password,       placeholder: 'Mot de passe actuel',    autocomplete: :off
          .column
            = f.password_field :password,               placeholder: 'Nouveau mot de passe',        autocomplete: :off
          .column
            = f.password_field :password_confirmation,  placeholder: 'Confirmation',        autocomplete: :off
        .columns
          .column.is-offset-8.has-text-right
            %button.gradient-button{type: :submit}
              Mettre à jour
