- content_for :navigation do
  Mon profil
- content_for :page_title do
  Mon profil - Let's Dev !

%h3
  Basic infos
%h5 Username
= @user.username
%h5 Email
= @user.email

%h3 Accounts
%p
  - if @user.facebook_id.nil?
    = link_to 'Connect FB', user_facebook_omniauth_authorize_path(provider: :facebook)
  - else
    = "Connected as #{@user.facebook_name}"
    = link_to 'Disconnect', facebook_manager_me_index_path, method: :delete
%p
  - if @user.github_id.nil?
    = link_to 'Connect GH', user_github_omniauth_authorize_path(provider: :github)
  - else
    = "Connected as #{@user.github_name}"
    = link_to 'Disconnect GH', github_manager_me_index_path, method: :delete
%p
  - if @user.google_oauth2_id.nil?
    = link_to 'Connect GO', user_google_oauth2_omniauth_authorize_path(provider: :google_oauth2)
  - else
    = "Connected as #{@user.google_oauth2_name}"
    = link_to 'Disconnect', google_manager_me_index_path, method: :delete
