- content_for :navigation do
  = t('views.manager.dashboard')
- content_for :page_title do
  = "#{t('views.manager.dashboard')} - Let's Dev !"

#dashboard
  %h2
    = t('views.manager.challenges.current')
  - @challenges.in_groups_of(3, false).each do |challenges|
    .columns
      - challenges.each do |c|
        .column.is-third
          = render partial: 'shared/challenge_card', locals: {challenge: c}
