%p#notice= notice
%h1 Language Sets
%table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @language_sets.each do |language_set|
      %tr
        %td= language_set.name
        %td= link_to 'Show', language_set
        %td= link_to 'Edit', edit_admin_language_set_path(language_set)
        %td= link_to 'Destroy', language_set, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Language Set', new_admin_language_set_path
