- content_for :navigation do
  = t('activerecord.models.challenge.other')
- content_for :page_title do
  = "#{t('activerecord.models.challenge.other')} - Let's Dev !"

#challenges.columns
  .column
    - if @current_challenges.size > 0
      %h2
        = t('views.manager.challenges.current')
      - @current_challenges.in_groups_of(2, false).each do |challenges|
        .columns
          - challenges.each do |c|
            .column.is-half
              = render partial: 'shared/challenge_card', locals: {challenge: c}
    - if @ended_challenges.size > 0
      %h2
        = t('views.manager.challenges.done')
      - @ended_challenges.in_groups_of(2, false).each do |challenges|
        .columns
          - challenges.each do |c|
            .column.is-half
              = render partial: 'shared/challenge_card', locals: {challenge: c}
  .column.is-third
    %h2
      = t('views.manager.challenges.rank')
