.challenge-card
  %h3
    = challenge.title
  %span
    = I18n.localize challenge.starts_at.to_date, format: :long, locale: :fr
    →
    = I18n.localize challenge.ends_at.to_date, format: :long, locale: :fr
  .languages
    - 3.times do
      - challenge.languages.each do |l|
        = image_tag l.logo.url(:thumb), alt: l.name, title: l.name
  - if controller_path.include? 'manager'
    = link_to 'Voir le sujet', manager_challenge_path(challenge)
  - else
    = link_to 'Voir le sujet', challenge_path(challenge)
