<p id="notice"><%= notice %></p>

<p>
  <strong>Started at:</strong>
  <%= @desk.started_at %>
</p>

<p>
  <strong>Ended at:</strong>
  <%= @desk.ended_at %>
</p>

<p>
  <strong>Current:</strong>
  <%= @desk.current %>
</p>

<%= link_to 'Edit', edit_desk_path(@desk) %> |
<%= link_to 'Back', desks_path %>
