<p id="notice"><%= notice %></p>

<h1>Jury Challenge Memberships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Challenge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jury_challenge_memberships.each do |jury_challenge_membership| %>
      <tr>
        <td><%= jury_challenge_membership.user_id %></td>
        <td><%= jury_challenge_membership.challenge_id %></td>
        <td><%= link_to 'Show', jury_challenge_membership %></td>
        <td><%= link_to 'Edit', edit_jury_challenge_membership_path(jury_challenge_membership) %></td>
        <td><%= link_to 'Destroy', jury_challenge_membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jury Challenge Membership', new_jury_challenge_membership_path %>
