<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @jury_challenge_membership.user_id %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @jury_challenge_membership.challenge_id %>
</p>

<%= link_to 'Edit', edit_jury_challenge_membership_path(@jury_challenge_membership) %> |
<%= link_to 'Back', jury_challenge_memberships_path %>
