= render partial: 'shared/header'

.main-content
  = image_tag('logo_light.svg')
  %h3
    = t('views.home.main_title_html')

  .steps
    .step
      .mdi.mdi-account-multiple-plus
      = t('views.home.steps.create_team')
    .step
      .mdi.mdi-code-braces
      = t('views.home.steps.participate')
    .step
      .mdi.mdi-trophy-variant
      = t('views.home.steps.win')

  .engage
    = link_to t('views.home.start_now'), user_signed_in? ? manager_dashboard_index_path : new_user_registration_path

#languages
  - @languages.each do |l|
    %p= l.name

= javascript_include_tag 'typed'
= javascript_include_tag 'home'
