<%= form_for(team_challenge_membership) do |f| %>
  <% if team_challenge_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team_challenge_membership.errors.count, "error") %> prohibited this team_challenge_membership from being saved:</h2>

      <ul>
      <% team_challenge_membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id_id %>
    <%= f.text_field :team_id_id %>
  </div>

  <div class="field">
    <%= f.label :challenge_id_id %>
    <%= f.text_field :challenge_id_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
