<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team_challenge_membership.team_id %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @team_challenge_membership.challenge_id %>
</p>

<%= link_to 'Edit', edit_team_challenge_membership_path(@team_challenge_membership) %> |
<%= link_to 'Back', team_challenge_memberships_path %>
