= form_for([:admin, language_set_membership]) do |f|
  - if language_set_membership.errors.any?
    #error_explanation
      %h2
        = pluralize(language_set_membership.errors.count, "error")
        prohibited this language_set_membership from being saved:
      %ul
        - language_set_membership.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :language_id_id
    = f.text_field :language_id_id
  .field
    = f.label :language_set_id_id
    = f.text_field :language_set_id_id
  .actions
    = f.submit
