= form_for([:admin, challenge]) do |f|
  - if challenge.errors.any?
    #error_explanation
      %h2
        = pluralize(challenge.errors.count, "error")
        prohibited this challenge from being saved:
      %ul
        - challenge.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :subject
    = f.text_area :subject
  .field
    = f.label :starts_at
    = f.datetime_select :starts_at
  .field
    = f.label :ends_at
    = f.datetime_select :ends_at
  .actions
    = f.submit
