= form_for([:admin, desk]) do |f|
  - if desk.errors.any?
    #error_explanation
      %h2
        = pluralize(desk.errors.count, "error")
        prohibited this desk from being saved:
      %ul
        - desk.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :started_at
    = f.datetime_select :started_at
  .field
    = f.label :ended_at
    = f.datetime_select :ended_at
  .field
    = f.label :current
    = f.check_box :current
  .actions
    = f.submit
