%p#notice= notice
%p
  %strong Started at:
  = @desk.started_at
%p
  %strong Ended at:
  = @desk.ended_at
%p
  %strong Current:
  = @desk.current
= link_to 'Edit', edit_admin_desk_path(@desk)
|
= link_to 'Back', admin_desks_path
