<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @challenge.title %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @challenge.subject %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @challenge.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @challenge.ends_at %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
