%p#notice= notice
%p
  %strong Financial movement:
  = @subscription.financial_movement_id
%p
  %strong User:
  = @subscription.user_id
= link_to 'Edit', edit_admin_subscription_path(@subscription)
|
= link_to 'Back', admin_subscriptions_path
