<p id="notice"><%= notice %></p>

<h1>Language Set Memberships</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Language set</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @language_set_memberships.each do |language_set_membership| %>
      <tr>
        <td><%= language_set_membership.language_id %></td>
        <td><%= language_set_membership.language_set_id %></td>
        <td><%= link_to 'Show', language_set_membership %></td>
        <td><%= link_to 'Edit', edit_language_set_membership_path(language_set_membership) %></td>
        <td><%= link_to 'Destroy', language_set_membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Language Set Membership', new_language_set_membership_path %>
