<%= form_for(financial_movement) do |f| %>
  <% if financial_movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financial_movement.errors.count, "error") %> prohibited this financial_movement from being saved:</h2>

      <ul>
      <% financial_movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
